.vs/src/StratisMasternodeDashboard/DesignTimeBuild/.dtbcache.v2
.vs/src/StratisMasternodeDashboard/config/applicationhost.config
.vs/src/StratisMasternodeDashboard/v16/.suo
*.testlog
*.manifest
/.vs/src/VSWorkspaceState.json
/.vs/src/slnx.sqlite
/.vs/src/ProjectSettings.json
.vs/src/StratisMasternodeDashboard/v16/.suo
.vs/src/StratisMasternodeDashboard/v16/.suo
.vs/src/StratisMasternodeDashboard/v16/.suo
src/.vs/StratisMasternodeDashboard/v16/.suo
*.v2
src/.vs/StratisMasternodeDashboard/v16/Server/sqlite3/db.lock
src/.vs/StratisMasternodeDashboard/v16/Server/sqlite3/storage.ide
src/.vs/StratisMasternodeDashboard/v16/Server/sqlite3/storage.ide-shm
src/.vs/StratisMasternodeDashboard/v16/Server/sqlite3/storage.ide-wal
src/.vs/StratisMasternodeDashboard/config/applicationhost.config
