@using Microsoft.Extensions.Options

@if (ViewBag.DisplayLoader == true)
{
    <partial name="Loader" />
}

<partial name="Modals" />

<div id="@(ViewBag.DisplayLoader == true ? "loading-content" : "")">
    <script type="text/javascript">
        $(function () {
           var peerSettings = { searching: false, pageLength: 25, "bDestroy": true, lengthChange: true, lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]], stateSave: true };
           var settings = { searching: false, pageLength: 5, lengthMenu: false, lengthChange: false, "bDestroy": true };

           $("#stratis-peers").DataTable(peerSettings);
           $("#stratis-members").DataTable(settings);
           $("#stratis-history").DataTable(settings);
           $("#sidechain-peers").DataTable(peerSettings);
           $("#sidechain-members").DataTable(settings);
           $("#sidechain-history").DataTable(settings);

           setTimeout(function () {
           $(".loader").fadeOut(function () {
           $("#loading-content").fadeIn();
            });
           }, 500);
         });
    </script>

    <div class="row my-2">

        <!-- MAIN CHAIN-->
        <div id="divMainchainPartial" class="col-lg-6 col-12">
            <partial name="WaitingForNodePartial" />
        </div>

        <!-- SIDE CHAIN-->
        <div id="divSidechainPartial" class="col-lg-6 col-12">
            <partial name="WaitingForNodePartial" />
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/mainchain_node_events.js"></script>
<script type="text/javascript" src="~/js/sidechain_node_events.js"></script>